@model List<Category>

    <div class="container">
        @*New Row*@
        <div class="row pt-4 pb-3"</div>

        @*Left side of row*@
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>

        @*Right side of row*@
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>
    </div>

    <table class="table table-boardered table-striped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.displayOrder))
            {


                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.displayOrder</td>
                </tr>
            }
        </tbody>
    </table>
    </div>